MariaDB [SpeedOnScreen]> show tables;
+-------------------------+
| Tables_in_SpeedOnScreen |
+-------------------------+
| ClassResults            |
| Entries                 |
| RawResults              |
+-------------------------+
3 rows in set (0.00 sec)

MariaDB [SpeedOnScreen]> show columns in ClassResults;
+-----------+--------------+------+-----+---------+-------+
| Field     | Type         | Null | Key | Default | Extra |
+-----------+--------------+------+-----+---------+-------+
| Car       | varchar(8)   | NO   |     | NULL    |       |
| Practice1 | decimal(6,3) | YES  |     | NULL    |       |
| Practice2 | decimal(6,3) | YES  |     | NULL    |       |
| Timed1    | decimal(6,3) | YES  |     | NULL    |       |
| Timed2    | decimal(6,3) | YES  |     | NULL    |       |
| Timed3    | decimal(6,3) | YES  |     | NULL    |       |
| Timed4    | decimal(6,3) | YES  |     | NULL    |       |
| Class     | varchar(8)   | YES  |     | NULL    |       |
+-----------+--------------+------+-----+---------+-------+
8 rows in set (0.01 sec)

MariaDB [SpeedOnScreen]> show columns in Entries;
+-----------+-------------+------+-----+---------+-------+
| Field     | Type        | Null | Key | Default | Extra |
+-----------+-------------+------+-----+---------+-------+
| Car       | varchar(8)  | NO   |     | NULL    |       |
| Driver    | varchar(50) | NO   |     | NULL    |       |
| MakeModel | varchar(50) | NO   |     | NULL    |       |
| Capacity  | int(11)     | YES  |     | NULL    |       |
| Category  | varchar(15) | YES  |     | NULL    |       |
| Class     | varchar(6)  | YES  |     | NULL    |       |
+-----------+-------------+------+-----+---------+-------+
6 rows in set (0.00 sec)

MariaDB [SpeedOnScreen]> show columns in RawResults;
+-----------+--------------+------+-----+-------------------+-------+
| Field     | Type         | Null | Key | Default           | Extra |
+-----------+--------------+------+-----+-------------------+-------+
| TimeOfDay | datetime     | YES  |     | CURRENT_TIMESTAMP |       |
| Car       | varchar(8)   | NO   |     | NULL              |       |
| SixtyFour | decimal(5,3) | YES  |     | NULL              |       |
| Split     | decimal(5,3) | YES  |     | NULL              |       |
| Finish    | decimal(6,3) | YES  |     | NULL              |       |
| RunState  | varchar(10)  | YES  |     | NULL              |       |
| Colour    | varchar(6 )  | YES  |     | NULL              |       |
+-----------+--------------+------+-----+-------------------+-------+
6 rows in set (0.00 sec)
