@import url("https://fonts.googleapis.com/css?family=Oxanium:500,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.best {
    background: #00c2cb;
}

.improved {
    background: #00ff00;
}
    
.flex {
  display: flex;
}

html,
body {
  height: 1080;
  width: 1920;
  margin: 0;
  font-family: "Oxanium";
}

#leaderboard {
  position: relative;
  top: 20px;
  left: 20px;
  background: transparent;
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#lap {
  background: #00c2cb;
  color: black;
  width: 200px;
  font-size: 26px;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  #seperator {
    margin: 5px auto;
    width: 60%;
    height: 2px;
    background: white;
    border-radius: 50%;
  }
}
.driverContainer {
  display: flex;
  width: 400px;
  height: 36px;
  padding: 3px;
  background: transparent;
  transition: all 0.5;
}
.driverLeft {
  display: flex;
  background: black;
}
.line {
  width: 4px;
  height: 18px;
  position: relative;
  top: 5px;
  left: 10px;
  margin-right: 15px;
}
.driverPosition {
  background: white;
  color: black;
  width: 29px;
  height: 26px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px 6px 6px 6px;
  margin: 2px;
  
}
.driverName {
  width: 200px;
  color: #00c2cb;
  margin: 2px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.driverRight {
  width: 60px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  padding: 3px;
  text-align: right;
  color: #00c2cb;
}